// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$grey: #4b4b4d;
$white: #fff;
$black: #000;
$sky: #77d5fa;
$darkblue: #061930;
$orange: #eab82a;
$lemon: #c1d476;
$pink: #be3e9c;
$blue: #6a5bd1;
$lightgrey: #a0a0a1;
$text: #3e3e3f;
$red: red;
// FONTS

$robotoC: 'Roboto Condensed', sans-serif;
$lato: 'Lato', sans-serif;
$roboto: 'Roboto', sans-serif;
