extends pug/base

append vars
    - title = 'FAQ'
    - meta.description = 'Заголовок статьи блога'
    - meta.viewport = 'width=device-width, initial-scale=1'
    - link.icon = './favicon.ico'
    - meta.formatDetection = 'telephone=no'
    - meta.themeColor = '#77d5fa'
    - defaultLink = 'javascript:void(0);'
    - body.classList = ['inner-page'];
block content
    .content
        include pages/header
        .wrapper
            .container
                ul.crumbs
                    li
                        a(href="/").home
                            | Главная
                    li
                        a(href="#") Blog
                    li.active
                        a(href="#") Заголовок статьи блога
                .navigation
                    h1
                        | Заголовок статьи блога
                .content-wrapper
                    .blog
                        .default-section
                            img(src="images/content/img-1.png", alt="img-1" style="float:left;")
                            p Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов. 
                            p Распишите о разделах сайта, укажите, где и что находиться, что можно найти в фотогалерее, каталоге продукции. Текст необходимо составлять живой, чтобы посетитель читал его быстро и легко, заинтересовываясь с каждой строчкой. Не стоит перегружать текст специальными терминами или писать объемный материал. Создайте лаконичное и интересное описание Вашей компании, полностью раскрывающее вид деятельности, достижения и плюсы.
                            ul
                                li Оформление маркировки текста
                                li Оформление маркировки текста
                                li Оформление маркировки текста
                        .other-blog
                            .other-blog__tittle
                                h3 Похожие новости
                            .blog-items
                                ul
                                    li.mix.service
                                        a(href="#")
                                            .blog-items__img
                                                img(src="images/content/img-3.png", alt="img-3")
                                                span Клиентский сервис
                                            .blog-items__block
                                                h5 Импульсивные покупки составляют значительную долю в потребительских расходах.
                                                p Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее,
                                                .arrow Подробнее
                                            span.createDate 25.09.2019
                                    li.mix.marketing
                                        a(href="#")
                                            .blog-items__img
                                                img(src="images/content/img-1.png", alt="img-1")
                                                span Маркетинг
                                            .blog-items__block
                                                h5 Импульсивные покупки составляют значительную долю в потребительских расходах.
                                                p Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее,
                                                .arrow Подробнее
                                            span.createDate 25.09.2019
                                    li.mix.proccess
                                        a(href="#")
                                            .blog-items__img
                                                img(src="images/content/img-6.png", alt="img-6")
                                                span Автоматизация процессов
                                            .blog-items__block
                                                h5 значительную долю в потребительских расходах сервиса.
                                                p Посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей
                                                .arrow Подробнее
                                            span.createDate 25.09.2019
                        .back-link
                            a(href="#").back-icon Назад
        include pages/footer