extends pug/base

append vars
    - title = 'Карьера'
    - meta.description = 'Описание страницы'
    - meta.viewport = 'width=device-width, initial-scale=1'
    - link.icon = './favicon.ico'
    - meta.formatDetection = 'telephone=no'
    - meta.themeColor = '#77d5fa'
    - defaultLink = 'javascript:void(0);'
    - body.classList = ['inner-page'];
block content
    .content
        include pages/header
        .wrapper
            .container
                ul.crumbs
                    li
                        a(href="/").home
                            | Главная
                    li.active
                        a(href="#") Карьера
                .navigation
                    h1
                        | Карьера
                .content-wrapper
                    .career
                        .default-section
                            p Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей
                        .career-block
                            ul.accordions
                                li
                                    a(href="javascript:void(0);").accordions_title.toggle
                                        h3 Младший менеджер
                                        span
                                    ul.accordions_content.default-section
                                        p Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.
                                        ul
                                            li Оформление маркировки текста
                                            li Оформление маркировки текста
                                            li Оформление маркировки текста
                                li
                                    a(href="javascript:void(0);").accordions_title.toggle
                                        h3 Главный эксперт
                                        span
                                    ul.accordions_content.default-section
                                        p Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.
                                        ul
                                            li Оформление маркировки текста
                                            li Оформление маркировки текста
                                            li Оформление маркировки текста
                                li
                                    a(href="javascript:void(0);").accordions_title.toggle
                                        h3 Разработчик приложений
                                        span
                                    ul.accordions_content.default-section
                                        p Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.
                                        ul
                                            li Оформление маркировки текста
                                            li Оформление маркировки текста
                                            li Оформление маркировки текста
                                li
                                    a(href="javascript:void(0);").accordions_title.toggle
                                        h3 Разработчик менеджер
                                        span
                                    ul.accordions_content.default-section
                                        p Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.
                                        ul
                                            li Оформление маркировки текста
                                            li Оформление маркировки текста
                                            li Оформление маркировки текста
                                li
                                    a(href="javascript:void(0);").accordions_title.toggle
                                        h3 Определение параметров рабочего стола
                                        span
                                    ul.accordions_content.default-section
                                        p Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.
                                        ul
                                            li Оформление маркировки текста
                                            li Оформление маркировки текста
                                            li Оформление маркировки текста
                                li
                                    a(href="javascript:void(0);").accordions_title.toggle
                                        h3 Разработчик приложений
                                        span
                                    ul.accordions_content.default-section
                                        p Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.
                                        ul
                                            li Оформление маркировки текста
                                            li Оформление маркировки текста
                                            li Оформление маркировки текста
                                li
                                    a(href="javascript:void(0);").accordions_title.toggle
                                        h3 Определение параметров рабочего стола
                                        span
                                    ul.accordions_content.default-section
                                        p Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.
                                        ul
                                            li Оформление маркировки текста
                                            li Оформление маркировки текста
                                            li Оформление маркировки текста

                            .career-link
                                a(href="#").btn
                                    span Скачать бланк резюме
                                p Отправить на почту <a href="mailto:mai@smai.ru" target="_blank">mai@smai.ru</a>
        include pages/footer
