extends pug/base

append vars
    - title = 'FAQ'
    - meta.description = 'Описание страницы'
    - meta.viewport = 'width=device-width, initial-scale=1'
    - link.icon = './favicon.ico'
    - meta.formatDetection = 'telephone=no'
    - meta.themeColor = '#77d5fa'
    - defaultLink = 'javascript:void(0);'
    - body.classList = ['inner-page'];
block content
    .content
        include pages/header
        .wrapper
            .container
                ul.crumbs
                    li
                        a(href="/").home
                            | Главная
                    li.active
                        a(href="#") FAQ
                .navigation
                    h1
                        | FAQ
                .content-wrapper
                    .faq
                        .faq-items
                            .faq-select
                                select
                                    option(value="Мониторинг продаж") Мониторинг продаж
                                    option(value="Клиентская база") Клиентская база
                                    option(value="Розничный аудит") Розничный аудит
                                    option(value="Информационная безопасность") Информационная безопасность
                                    option(value="Складские движения") Складские движения
                                    option(value="KPI (Ключевые показатели эффективности)") KPI (Ключевые показатели эффективности)
                                    option(value="Планирование и менеджер задач") Планирование и менеджер задач
                                    option(value="Мерчендайзинг") Мерчендайзинг
                                    option(value="Аналитика ") Аналитика
                                    option(value="Многофилиальность") Многофилиальность
                                    option(value="Бухгалтерия") Бухгалтерия
                                    option(value="Контроль времени и персонала") Контроль времени и персонала
                                    option(value="Многовалютность") Многовалютность
                                    option(value="Временная зона") Временная зона
                                    option(value="Широкий спектр отчетности") Широкий спектр отчетности
                            .faq-link
                                ul
                                    li
                                        a(href="#") Мониторинг продаж
                                    li
                                        a(href="#") Клиентская база
                                    li
                                        a(href="#") Розничный аудит
                                    li
                                        a(href="#") Информационная безопасность
                                    li
                                        a(href="#") Складские движения
                                    li
                                        a(href="#") KPI (Ключевые показатели эффективности)
                                    li
                                        a(href="#") Планирование и менеджер задач
                                    li
                                        a(href="#") Мерчендайзинг
                                    li
                                        a(href="#") Аналитика
                                    li
                                        a(href="#") Многофилиальность
                                    li
                                        a(href="#") Бухгалтерия
                                    li
                                        a(href="#") Контроль времени и персонала
                                    li
                                        a(href="#") Многовалютность
                                    li
                                        a(href="#") Временная зона
                                    li
                                        a(href="#") Широкий спектр отчетности
                            .faq-block
                                ul.accordions
                                    li
                                        a(href="javascript:void(0);").accordions_title.toggle
                                            h3 Политика безопасности
                                            span
                                        ul.accordions_content.default-section
                                            p Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.
                                            ul
                                                li Оформление маркировки текста
                                                li Оформление маркировки текста
                                                li Оформление маркировки текста
                                    li
                                        a(href="javascript:void(0);").accordions_title.toggle
                                            h3 Контроль всех участков рабочей группы
                                            span
                                        ul.accordions_content.default-section
                                            p Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.
                                            ul
                                                li Оформление маркировки текста
                                                li Оформление маркировки текста
                                                li Оформление маркировки текста
                                    li
                                        a(href="javascript:void(0);").accordions_title.toggle
                                            h3 Загловок текста в две строки будет выглядеть, как заголовок в две строки
                                            span
                                        ul.accordions_content.default-section
                                            p Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.
                                            ul
                                                li Оформление маркировки текста
                                                li Оформление маркировки текста
                                                li Оформление маркировки текста
                                    li
                                        a(href="javascript:void(0);").accordions_title.toggle
                                            h3 Контроль всех участков рабочей группы
                                            span
                                        ul.accordions_content.default-section
                                            p Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.
                                            ul
                                                li Оформление маркировки текста
                                                li Оформление маркировки текста
                                                li Оформление маркировки текста
                                    li
                                        a(href="javascript:void(0);").accordions_title.toggle
                                            h3 Определение параметров рабочего стола
                                            span
                                        ul.accordions_content.default-section
                                            p Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.
                                            ul
                                                li Оформление маркировки текста
                                                li Оформление маркировки текста
                                                li Оформление маркировки текста
                                    li
                                        a(href="javascript:void(0);").accordions_title.toggle
                                            h3 Контроль всех участков рабочей группы
                                            span
                                        ul.accordions_content.default-section
                                            p Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.
                                            ul
                                                li Оформление маркировки текста
                                                li Оформление маркировки текста
                                                li Оформление маркировки текста
                                    li
                                        a(href="javascript:void(0);").accordions_title.toggle
                                            h3 Определение параметров рабочего стола
                                            span
                                        ul.accordions_content.default-section
                                            p Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.
                                            ul
                                                li Оформление маркировки текста
                                                li Оформление маркировки текста
                                                li Оформление маркировки текста
        include pages/footer
