footer
    .footer-maps
        img(src="images/content/map.jpg")
    .footer-wrapper
        .container
            .footer-top
                .footer-item.left
                    ul
                        li.footer-title
                            | Продукция
                        li
                            a(href='#')
                                | Smartup Trade
                        li
                            a(href="#")
                                | Smartup HR
                        li
                            a(href="#")
                                | Smartup Pharm
                        li
                            a(href="#")
                                | Smartup Medica
                    ul
                        li.footer-title
                            | Отрасли
                        li
                            a(href="#")
                                | Фармацевтика
                        li
                            a(href="#")
                                | Дистрибуция
                        li
                            a(href="#")
                                | Мед. центр
                        li
                            a(href="#")
                                | Производители FMCG
                        li
                            a(href="#")
                                | Розничная и оптовая торговля
                        li
                            a(href="#")
                                | Медицинские учреждения
                        li
                            a(href="#")
                                | Другие отрасли
                    ul
                        li.footer-title
                            | Компания
                        li
                            a(href="#")
                                | О нас
                        li
                            a(href="#")
                                | Карьера
                        li
                            a(href="#")
                                | Блог
                        li
                            a(href="#")
                                | Отзывы
                        li
                            a(href="#")
                                | Контакты
                        li
                            a(href="#")
                                | FAQ
                .footer-item
                    ul
                        li.footer-title
                            | Контакты
                    ul.office
                        li.office-title
                            | Головной офис:
                        li
                            p 100115 г. Ташкент, ул. Арнасай 1А
                    ul.number
                        li +(998 78) 150 44 33
                        li +(998 71) 200 88 33
                    ul.filials
                        li.filials-title
                            | Филиалы:
                        li
                            p Казахстан
                        li
                            p Таджикистан
                        li
                            p Киргизия
                    .maps-link
                        a(href="#") Смотреть на карте
            .footer-bottom
                .footer-item.left
                    .footer-item__left
                        a(href="#") Политика конфиденциальности
                        a(href="#") Политика конфиденциальности1
                    .footer-item__center
                        ul.tgicon
                            li Sales  <a href="#" target="_blank">@ssilkaprimer</a>
                            li Support <a href="#" target="_blank">@ssilkaprimer</a>
                    .footer-item__right
                        ul.icons
                            li
                                a(href="#").fb
                            li
                                a(href="#").youtube
                            li
                                a(href="#").instagram
                .footer-item
                    a(href="#").btn
                        span Демо версия
            .footer-copyright
                span
                    | © 2019 Smartup. Все права защищены.
