.header-fixed
    .container
        .header-wrapper
            .header-top
                .logo
                    a(href="/")
                        img(src="logo.png", alt="logo")
                .number
                    ul
                        li
                            | +(99878) 150 44 33
                        li
                            | +(99871) 200 88 33
            .header-bottom
                nav
                    ul
                        li.submenu
                            a(href="#")
                                | Продукция
                            ul.underMenu
                                li.first-block
                                    ul.menuBlocks
                                        li.menuBlock
                                            .menuBlock__img
                                                img(src="images/content/bg1.png", alt="icon-1")
                                            .menuBlock__txt
                                                .menuBlock__title
                                                    | smartup <span class="orange">Trade<span>
                                                .menuBlock__subtitle
                                                    | Эффективное решение для автоматизации работы компаний дистрибьюторов товаров народного потребления
                                        li.menuBlock
                                            .menuBlock__img
                                                img(src="images/content/bg2.png", alt="icon-2")
                                            .menuBlock__txt
                                                .menuBlock__title
                                                    | smartup <span class="bluesky">Medical<span>
                                                .menuBlock__subtitle
                                                    | Легко масштабируемая система для автоматизации как сетифс медицинских учреждений,
                                        li.menuBlock
                                            .menuBlock__img
                                                img(src="images/content/bg3.png", alt="icon-3")
                                            .menuBlock__txt
                                                .menuBlock__title
                                                    | smartup <span class="lemon">Pharm<span>
                                                .menuBlock__subtitle
                                                    | Программный комплекс позволяющий автоматизировать работу офисных и «полевых» сотруд-ников фармацевтических
                                        li.menuBlock
                                            .menuBlock__img
                                                img(src="images/content/bg4.png", alt="icon-4")
                                            .menuBlock__txt
                                                .menuBlock__title
                                                    | smartup <span class="pink">HR<span>
                                                .menuBlock__subtitle
                                                    | Это инновационный продукт, позволяющий автоматизировать работу как отдела кадров так и унифици
                                li.second-block
                                    a(href="#").btn
                                        span Демо версия
                                    p
                                        | Закажите Бесплатно “Демо версию” и пользуйтесь всеми компонентами в течении месяца!
                        li
                            a(href="#")
                                | О нас
                        li.submenu
                            a(href="#")
                                | Отрасли
                            ul.menu
                                li
                                    a(href="#")
                                        | Производители FMCG
                                li
                                    a(href="#")
                                        | Дистрибуция
                                li
                                    a(href="#")
                                        | Фармацевтика
                                li
                                    a(href="#")
                                        | Розничная и оптовая торговля
                                li
                                    a(href="#")
                                        | Медицинские учреждения
                                li
                                    a(href="#")
                                        |  Другие отрасли
                        li
                            a(href="#")
                                | Карьера
                        li
                            a(href="#")
                                | Партнерам
                        li
                            a(href="#")
                                | Блог
                        li
                            a(href="#")
                                | Отзывы
                        li
                            a(href="#")
                                | FAQ
                        li
                            a(href="#")
                                | Контакты
                .lang
                    ul
                        li.active
                            a(href="#")
                                span Ру
                                img(src="images/icons/rus.png", alt="рус")
                        ul.sublang
                            li
                                a(href="#")
                                    img(src="images/icons/rus.png", alt="рус")
                                    span Русский
                            li
                                a(href="#")
                                    img(src="images/icons/uzb.png", alt="uzb")
                                    span O’zbek
                            li
                                a(href="#")
                                    img(src="images/icons/eng.png", alt="eng")
                                    span English
                            li
                                a(href="#")
                                    img(src="images/icons/kz.png", alt="kz")
                                    span Қазақша
