.mobile-menu
    .container
        .mobile-btns
            .lang
                ul
                    li.active
                        a(href="#")
                            img(src="images/icons/rus.png", alt="рус")
                            span Русский
                    li
                        a(href="#")
                            img(src="images/icons/uzb.png", alt="uzb")
                            span O’zbek
                    li
                        a(href="#")
                            img(src="images/icons/eng.png", alt="eng")
                            span English
                    li
                        a(href="#")
                            img(src="images/icons/kz.png", alt="kz")
                            span Қазақша
            .menu
                a(href="javascript:void(0);")#menu
                    span.menu-icon(data-close="Закрыть") Меню
                .menu-inner
                    .container
                        .menu-logo
                            a(href="/")
                                img(src="logo.png", alt="logo")
                        .menu-list
                            ul
                                li.mobile-submenu
                                    a(href="#") Продукция 
                                    <span class="mobile-submenu__arrow"></span>
                                    ul
                                        li
                                            a(href="#") Smartup <span class="orange">Trade</span>
                                        li
                                            a(href="#") Smartup <span class="bluesky">Medical</span>
                                        li
                                            a(href="#") Smartup <span class="lemon">Pharm</span>
                                        li
                                            a(href="#") Smartup <span class="pink">HR</span>
                                li
                                    a(href="#") О нас
                                li
                                    a(href="#") Отрасли
                                li
                                    a(href="#") Карьера
                                li
                                    a(href="#") Блог
                                li
                                    a(href="#") Отзывы
                                li
                                    a(href="#") FAQ
                                li
                                    a(href="#") Контакты
