section.index-slider.owl-carousel.fxSoftScale
    .index-slider__item
        .index-slider__img
            div(style="background-image: url('images/content/slide1.jpg')").for-desktop
            div(style="background-image: url('images/content/slide1-mob.jpg')").for-mobile
        .index-slider__container
            .index-slider__block
                .index-slider__title
                    h5 TRADE
                .index-slider__subtitle
                    p Эффективное решение для автоматизации работы компаний дистрибьюторов товаров народного потребления. Smartup Trade - лучшее решение под автоматизацию торговли.
                .index-slider__btn
                    a(href="#").btn
                        span Демо версия
    .index-slider__item
        .index-slider__img
            div(style="background-image: url('images/content/slide2.jpg')").for-desktop
            div(style="background-image: url('images/content/slide2-mob.jpg')").for-mobile
        .index-slider__container
            .index-slider__block
                .index-slider__title
                    h5 Pharm
                .index-slider__subtitle
                    p Программный комплекс позволяющий автоматизировать работу офисных и «полевых» сотрудников фармацевти- ческих компаний.
                .index-slider__btn
                    a(href="#").btn
                        span Демо версия
    .index-slider__item
        .index-slider__img
            div(style="background-image: url('images/content/slide3.jpg')").for-desktop
            div(style="background-image: url('images/content/slide3-mob.jpg')").for-mobile
        .index-slider__container
            .index-slider__block
                .index-slider__title
                    h5 Medical
                .index-slider__subtitle
                    p Легко масштабируемая система для автоматизации как сетифс медицинских учреждений,  так и в целом единой клиники, на каждом этапе.
                .index-slider__btn
                    a(href="#").btn
                        span Демо версия
    .index-slider__item
        .index-slider__img
            div(style="background-image: url('images/content/slide4.jpg')").for-desktop
            div(style="background-image: url('images/content/slide4-mob.jpg')").for-mobile
        .index-slider__container
            .index-slider__block
                .index-slider__title
                    h5 HR
                .index-slider__subtitle
                    p Это инновационный продукт, позволяющий автоматизировать работу как отдела кадров так и унифицировать работу с челове-ческими ресурсами с возможностью привязки различных СКУД систем.
                .index-slider__btn
                    a(href="#").btn
                        span Демо версия
